@use 'colors';

.button {
  font-size: 18px;
  text-decoration: none;
  color: colors.$primary;
  border: 1px solid colors.$primary;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  &:hover {
    background-color: colors.$primary;
    color: #fff;
  }
}
